.logoPicture {
  height: 5vh;
  margin-left: 10%;
  border: 0;
}

.screen {
  color: white;
}

.header {
  background-color: white;
}

button {
  margin-top: 5%;
  background-color: #2BC894 !important;
}

form {
  margin-left: 15%;
}

.title1 {
  margin-left: 28%;
}

.title2 {
  margin-left: 15%;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 320px) and (max-width: 480px) {
  form {
    margin-left: 0%;
  }
  .title2 {
    margin-left: 0%;
  }
  .title1 {
    margin-left: 0%;
    font-size: 3rem;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  form {
    margin-left: 0%;
  }
  .title2 {
    margin-left: 0%;
  }
  .title1 {
    margin-left: 0%;
    font-size: 3rem;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  form {
    margin-left: 0%;
  }
  .title2 {
    margin-left: 0%;
  }
  .title1 {
    margin-left: 0%;
    font-size: 3rem;
  }
}